---
layout: default
title : "Valise pédagogique de l'aménagement économique (VPAE)"
---
<!-- Présentation des différents axes et sous-axes de la valise pédagogique -->
<section>
    <h2>Contenu de la valise pédagogique</h2>
    {% for category in site.categories %}
    <!-- On utilise le fichier YAML links pour rechercher l'intitulé de la catégorie -->
    {% assign links = site.data.links[category[0]] %}
    <section>
        <h3><a href="/{{ category[0] }}/">#{{ links.name }} | {{ links.title }}</a></h3>
        <ul>
            {% for post in category[1] %}
            <li><a href="/{{ category[0] }}/index.html#{{ post.title | slugify }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</section>