---
layout: default
title : Valise pédagogique de l'aménagement économique (VPAE)
---
<!-- Introduction : Pourquoi une valise pédagogique de l'aménagement économique -->
 <section>
    <h2> Une valise pédagogique de l'aménagement économique, pourquoi et pour quoi faire ?</h2>
        <h3>Une préoccupation montante</h3>
        <p>
            A la croisée entre cohésion des territoires, transition écologique et souveraineté, le développement économique fait face à de nombreux défis, 
            souvent contradictoires. Les relever conjointement nécessite de réiterroger le développement économique au prisme des objets/questions et des échelles 
            de l'aménagement : de l'échelle large et des objets stratégiques de l'aménagement du territoire aux échelles fines et objets concrets de l'aménagement 
            opérationnel.
        </p>
        <p>
            Récemment, la montée en puissance des politiques publiques de modération de la consommation d'espace et de limitation de l'artificialisation 
            a replacé l'aménagement économique au coeur des préoccupations locales. Mais les connaissances et l'ingénierie manquent pour éclairer les débats, 
            bâtir des stratégies et les outiller au service d'une réponse globale aux enjeux du développement économique. 
        </p>
        <h3>Nous outiller pour accompagner les réflexions et démarches d'aménagement économique</h3>
        <p>
            La valise pédagogique vise à nous outiller collectivement pour accompagner les réflexions des collectivités et susciter une réponse globale, 
            cohérente et coordonnée aux enjeux de développement économique dans le cadre d'une approche en aménagement économique durable.
        </p>
            La valise poursuit ainsi plusieurs objectifs :
            <ol>
                <li>
                    Rassembler et mettre à disposition de façon simple et organisée la connaissance institutionnelle disponible sur le sujet de 
                    l'aménagement économique durable ;
                </li>
                <li>
                    Mettre en lumière les principaux enjeux contemporains de l'aménagement économique, tels qu'ils se présetent à l'échelle des 
                    territoires ;
                </li>
                <li>
                    Partager les pistes de travail et de réflexion identifiées au niveau institutionnel, ainsi que les bonnes pratiques et innovations 
                    territoriales ;
                </li>
                <lI>
                    Capitaliser des éléments de repère et de méthode pour appuyer notre intervention et accompagner les collectivités vers des
                    démarches d'aménagement économiques durables.
                </lI>
            </ol>
        </p>
        <h3>Un outil-support de capitalisation et de transmission dynamique</h3>
        <p>
            La valise pédagogique est conçue comme un outil de capitalisation et de transmission vivant et "dépliable". A ce titre, elle répond à 
            plusieurs principes directeurs.
            <ol>
                <li>
                    Une démarche d'alimentation cumulative et progressive : la valise est un objet collectif dont l'architecture et le contenu sont amenés 
                    à être enrichis et précisés progressivement, au gré de nos interventions auprès des territoires, de nos lectures, des formations 
                    auxquelles nous participons, de nos réflexions internes... Elle est le suppport et le réceptacle d'une animation collective, de pairs 
                    à pairs, sur le thème de l'aménagement économique.
                </li>
                <lI>
                    La valise propose plusieurs niveaux de lecture pour être utile au néophyte comme au technicien confirmé. Elle s'appuie sur une architecture 
                    en "poupées russes" pour offrir un aperçu global et ouvrir l'accès vers les documents ressources plus complets et plus précis déjà disponibles : 
                    guides, articles, publication des partenaires (CAUE, CEREMA, PUCA, agences d'urbanisme...)
                </lI>
                <li>
                    La production propre est limitée à l'introduction synthétique et organisée des différents sujets abordés ainsi que la sélection de documents ressources 
                    pertinents
               </li>
                <lI>
                    La valise pédagogique se déploie dans un format numérique simple, accessible au plus grand nombre, dont le maintien et la mise à jour 
                    ne nécessite que des compétences techniques limitées.
                </lI>
            </ol>
        </p>
 </section> 
<!-- Présentation des différents axes et sous-axes de la valise pédagogique -->
<section>
    <h2>Contenu de la valise pédagogique</h2>
    {% for category in site.categories %}
    <!-- On utilise le fichier YAML links pour rechercher l'intitulé de la catégorie -->
    {% assign type = category[0] %}
    {% assign posts = category[1] | sort: 'date' %}
    {% assign links = site.data.links[type] %}
    <section>
        <h3><a href="/{{ type }}/">#{{ links.name }} | {{ links.title }}</a></h3>
        <ul>
            {% for post in posts %}
            <li><a href="/{{ type }}/index.html#{{ post.title | slugify }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</section>