---
layout: default
---
{% for collection in site.collections %}
{% if collection.label == page.collection %}
<article> <!-- Voir si intérêt d'ajouter sommaire en tête de page -->
    <h2>{{ collection.title }}</h2>
    {% for article in collection.docs %}
    {% if article.title != collection.title %}
    <section>
        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
        {{ article.content | markdownify }}
    </section>
    {% endif %}
    {% endfor %}
{% endif %}
{% endfor %}
</article>
<!-- Rajouter dans cette page une section aside qui renvoie vers les documents ressources et les fiches techniques -->